body{
    background-color: black;
}
.portada{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
}
#campeones {
    display: grid;
    padding: 10px;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
#boton {
    width:100%;
    padding: 10px 20px; /* Relleno del botón */
    font-family: 'Permanent Marker', cursive; /* Fuente atractiva */
    font-size: 1.5rem; /* Tamaño de la fuente del botón */
    color: white; /* Color del texto */
    background-color: #1dff098e; /* Color de fondo atractivo */
    border: none; /* Sin borde */
    border-radius: 5px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s, transform 0.3s; /* Animaciones */
}

#boton:hover {
    background-color: #16c68f; /* Color de fondo al pasar el ratón */
    transform: scale(1.05); /* Aumentar tamaño del botón al pasar el ratón */
}

.carta {
    margin: 10px;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(61, 61, 61, 0.288);
    max-width: 250px; /* Ajustar el tamaño máximo de la carta */
    overflow: hidden; /* Asegurarse de que no se salgan las imágenes */
    
    
}
.carta img {
    width: 100%;
    height: auto;
    transition: filter 0.3s ease; /* Animación para hacer suave el efecto */
    filter: brightness(1.1) saturate(1.2) blur(2px)}
.carta img:hover {
    filter: brightness(1.3) saturate(1.5) blur(0); /* Aumenta el efecto al pasar el ratón */
}


.nombre{
    color: #1dff098e;
    font-family: 'Permanent Marker'; 
}

img{
    width: 100%;
    height: auto;
    
}
/* El splash art a pantalla completa */
.splash-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}
.splash-fullscreen img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    filter: brightness(1.1) saturate(1.3); /* Aplicamos también aquí más brillo y saturación */
}
.titulo-campeon {
    color: white; /* Color del texto del título */
    font-family: 'Permanent Marker'; /* Fuente llamativa para el título */
    font-size: 2rem; /* Tamaño del texto */
    margin: 20px; /* Espacio alrededor del texto */
    text-align: center; /* Centrar el texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para darle profundidad */
}
/* Animación suave de aparición */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}



